<!DOCTYPE html>
<html>
<head>
<style>

ul.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.navbar navbar-expand-lg navbar-dark bg-dark {
  float: left;
}

li a.nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active).nav-link{
  background-color: #292929;
}

.active{

}

</style>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <div class="collapse navbar-collapse" id="navbarNav">
	<ul class="navbar-nav">
	
	  <li class="nav-item active">
		<a class="nav-link" href="/home"><h5>CAPEC List WebApp</h5></a>
	  </li>
	  
	  <li class="nav-item disabled">
		<a class="nav-link" href="/home">Home</a>
	  </li>
	  
	  <li class="nav-item disabled">
		<a class="nav-link" href="/query">Ricerca</a>
	  </li>
	  
	</ul>
  </div>
</nav>



</html>